body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e9efff;
}

.container {
    width: 40%;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #999;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
